// header style

header {
  width: 95%;
  height: 20%;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 20px;
}

.header-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-txt {
  font-weight: 600;
}
.header-btns {
  margin: 1rem 0;
}

// 상단 헤더
.upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.ebtn {
  color: white;
  background-color: darkgoldenrod;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

// 하단 버튼들
.btns,
.graphs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid white;
}
